<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
 
<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
 
<!-- Set the page to the width of the device and set the zoon level -->
<title>EasyChoice</title>
<link rel="icon" href="/static/image/aeae.png">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

<title>Sticky Footer Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
<link href="/static/css/sticky-footer-navbar.css" rel="stylesheet">

<style>
.jumbotron{
    background-color:#f0f0f5;
    color:#000;
}
/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
</style>
</head>

<body>
<header>

<div class="container">
<div class="page-header">

<p>
<h1>
<a href="/">
<img src="/static/image/EasyChoiceLogo.png" 
 class="img-responsive img-thumbnail img-rounded" style="width:30%" alt="Responsive Image">
</a></h1>

</p>
</div>
</div>

</header>


<main>
    <div class="container jumbotron text-center">
        
        <h2>Seu carro ideal é o</h2>
        <h1>{{resul}}</h1>
    </div>
    <div class="container jumbotron text-center">
        <img src="https://images.canaldapeca.com.br/produtos/g/indisponivel.png" style="width:35%" alt="Responsive Image"></img>
        
        <a href="https://www.google.com.br/search?biw=1393&bih=618&tbm=isch&sa=1&ei=TJoUW4OvFoGgwgSn9abQAw&q={{resul}}&oq={{resul}}&gs_l=img.3..35i39k1l2j0l2j0i67k1j0l3j0i67k1l2.5056.6107.0.6588.4.4.0.0.0.0.152.385.1j2.3.0....0...1c.1.64.img..1.3.385....0.y2hEqKpONJs" class="btn btn-primary btn-md" role="button"> Pesquise seu carro no Google! </a>
    </div>
    <div class="container jumbotron text-center">
        <h2> AVALIÇÃO DOS USUÁRIOS </h2>
        &nbsp;&nbsp;

        <h2>Preço médio: R${{carros[resulS[0]][resulS[1]][resulS[2]]['Preco']}}</h2>
        <h2>Categoria: {{carros[resulS[0]][resulS[1]][resulS[2]]['Categoria']}}</h2>
        <h2>Desempenho: {{carros[resulS[0]][resulS[1]][resulS[2]]['Desempenho']}}/5</h2>
        <h2>Conforto: {{carros[resulS[0]][resulS[1]][resulS[2]]['Conforto']}}/5</h2>
        <h2>Consumo: {{carros[resulS[0]][resulS[1]][resulS[2]]['Consumo']}}/5</h2>   
        <h2>Custo X Benefício: {{carros[resulS[0]][resulS[1]][resulS[2]]['Custo X Beneficio']}}/5</h2>
        <h2>Desevalorização: {{carros[resulS[0]][resulS[1]][resulS[2]]['Desvalorizacao']}}/5</h2>   
        <h2>Espaco interno: {{carros[resulS[0]][resulS[1]][resulS[2]]['Espaco Interno']}}/5</h2>   
        <h2>Segurança: {{carros[resulS[0]][resulS[1]][resulS[2]]['Seguranca']}}/5</h2>   


    </div>
</main>





<footer>

<table width=1254 align=center>

<tr>
<td bgcolor="#f0f0f5" colspan="80" height="25" width=100%>
<font style="font-size: 13px; font-family: arial">
&nbsp;&nbsp;
<a href="/" title="Página principal do EasyChoice"><font color="black">Página Principal</a>
&nbsp;|&nbsp;
<a href="/sobre" title="Como funciona o nosso algorítmo" rel="nofollow"><font color="black">Sobre o site</a>
&nbsp;|&nbsp;
<a href="/" title="Política de Privacidade" rel="nofollow"><font color="black">Privacidade</a>
&nbsp;|&nbsp;
<a href="/" title="Termos de uso" rel="nofollow"><font color="black">Termos de uso</a>
&nbsp;|&nbsp;
<a href="/comunicar" title="Entre em contato com o time EasyChoice" rel="nofollow"><font color="black">Fale Conosco</a>
&nbsp;|&nbsp;
<a href="/comunicar" title="Avise-nos sobre problemas com o site EasyChoice" rel="nofollow"><font color="black">Comunicar erro</a>
</td>
</tr>

</table>
</footer>

    <!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>


                