<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
 
<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
 
<!-- Set the page to the width of the device and set the zoon level -->
<meta name="viewport" content="width = device-width, initial-scale = 1">
<title>EasyChoice</title>
<link rel="icon" href="/static/image/aeae.png">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

 
<style>
.jumbotron{
    background-color:#f0f0f5;
    color:#000;
}
/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 70%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #0073e6;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
</style>
</head>

<body>

<header>

<div class="container">
<div class="page-header">

<p>
<h1>
<a href="/">
<img src="/static/image/EasyChoiceLogo.png" 
 style="width:30%" alt="Responsive Image">
 </a><div class="text-right"> VEÍCULOS </div></h1>
</p>
</div>
</div>

</header>
        <div class="container jumbotron text-center">
            <h1>Ache seu carro</h1>
        </div>
        <div class="container jumbotron text-center">
            <form action="/carros/ache_seu_carro" method="POST">

                <h1> Filtros <h1/>
                
                <h3> Preço entre: <h3/>
                
                R$
                <input type="text" label="asas" class="btn" name="precomin" value="0" placeholder="Preço máximo">
                e   R$
                <input type="text" label="asas" class="btn" name="precomax" value="10000000" placeholder="Preço máximo">
                

                
            <hr>
                <h3> Categoria: <h3/>
                
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary active">
                    <input type="radio" name="categoria" value="0" checked> Tanto Faz
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="categoria" value="suv">SUV
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="categoria" value="hatchback">Hatchback
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="categoria" value="perua">Perua
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="categoria" value="picape">Picape
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="categoria" value="cupe">Cupê
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="categoria" value="conversivel">Conversível
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="categoria" value="sedan">Sedan
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="categoria" value="minivan">Minivan
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="categoria" value="esportivo">Esportivo
                  </label>

                </div><br>
            </div>
            <div class="container jumbotron text-center">
                <h1> Prioridades <h1/>
                <h4>Não me importo <img src="https://image.flaticon.com/icons/svg/50/50849.svg" 
 style="width:5%" > Prioridade máxima</h4>

                <p>
                
                <div class="slidecontainer">
                  <h3>Espaço interno</h3> <input type="range" min="1" max="100" value="10" class="slider text-center" id="2" name="espaco_interno">
                </div>
                <hr>
                <div class="slidecontainer">
                  <h3>Manutenção barata</h3> <input type="range" min="1" max="100" value="10" class="slider text-center" id="3" name="manutencao">
                </div>
                <hr>
                <div class="slidecontainer">
                  <h3>Consumo</h3> <input type="range" min="1" max="100" value="10" class="slider text-center" id="3" name="consumo">
                </div>
                <hr>
                <div class="slidecontainer">
                  <h3>Desempenho</h3> <input type="range" min="1" max="100" value="10" class="slider text-center" id="3" name="desempenho">
                </div>
                <hr>
                <div class="slidecontainer">
                  <h3>Conforto</h3> <input type="range" min="1" max="100" value="10" class="slider text-center" id="3" name="conforto">
                </div>
                <hr>
                <div class="slidecontainer">
                  <h3>Segurança</h3> <input type="range" min="1" max="100" value="10" class="slider text-center" id="3" name="seguranca">
                </div>
                <hr>
                <div class="slidecontainer">
                  <h3>Custo X benefício</h3> <input type="range" min="1" max="100" value="10" class="slider text-center" id="3" name="custo_beneficio">
                </div>
                <hr>
                <div class="slidecontainer">
                  <h3>Baixa desvalorização</h3> <input type="range" min="1" max="100" value="10" class="slider text-center" id="3" name="desvalorizacao">
                </div>
                </p>
            </div>
            <div class="container jumbotron text-center">    
                <input type="submit" class="btn btn-primary btn-lg" value="Pronto!">
            </form>            
        </div>
<footer>

<table width=1254 align=center>

<tr>
<td bgcolor="#f0f0f5" colspan="80" height="25" width=100%>
<font style="font-size: 13px; font-family: arial">
&nbsp;&nbsp;
<a href="/" title="Página principal do EasyChoice"><font color="black">Página Principal</a>
&nbsp;|&nbsp;
<a href="/sobre" title="Como funciona o nosso algorítmo" rel="nofollow"><font color="black">Sobre o site</a>
&nbsp;|&nbsp;
<a href="/termos" title="Política de Privacidade" rel="nofollow"><font color="black">Privacidade</a>
&nbsp;|&nbsp;
<a href="/termos" title="Termos de uso" rel="nofollow"><font color="black">Termos de uso</a>
&nbsp;|&nbsp;
<a href="/comunicar" title="Entre em contato com o time EasyChoice" rel="nofollow"><font color="black">Fale Conosco</a>
&nbsp;|&nbsp;
<a href="/comunicar" title="Avise-nos sobre problemas com o site EasyChoice" rel="nofollow"><font color="black">Comunicar erro</a>
</td>
</tr>

</table>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>