<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
 
<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
 
<!-- Set the page to the width of the device and set the zoon level -->
<meta name="viewport" content="width = device-width, initial-scale = 1">
<title>EasyChoice</title>
<link rel="icon" href="/static/image/aeae.png">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

 
<style>
.jumbotron{
    background-color:#f0f0f5;
    color:#000;
}
/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
</style>
</head>

<body>

<header>

<div class="container">
<div class="page-header">

<p>
<h1>
<a href="/">
<img src="/static/image/EasyChoiceLogo.png" 
 style="width:30%" alt="Responsive Image">
 </a><div class="text-right"> VEÍCULOS </div></h1>
</p>
</div>
</div>

</header>
        <div class="container jumbotron text-center">
            <h1>Ache seu carro</h1>
        </div>
        <div class="container jumbotron text-center">
            <form action="/carros/ache_seu_carro" method="POST">

                <h1> Filtros <h1/>
                
                <h3> Preço entre: <h3/>
                
                R$
                <input type="text" label="asas" class="btn" name="precomin" value="0" placeholder="Preço máximo">
                e   R$
                <input type="text" label="asas" class="btn" name="precomax" value="10000000" placeholder="Preço máximo">
                

                
                
                <h3> Categoria: <h3/>
                
                
                <select name="categoria" class="btn">
                    <option value="0">Tanto faz</option>
                    <option value="suv">SUV</option>
                    <option value="hatchback">Hatchback</option>
                    <option value="perua">Perua</option>
                    <option value="picape">Picape</option>
                    <option value="cupe">Cupê</option>
                    <option value="conversivel">Conversível</option>
                    <option value="sedan">Sedan</option>
                    <option value="minivan">Minivan</option>
                    <option value="esportivo">Esportivo</option>
                </select>
            </div>
            <div class="container jumbotron text-center">
                <h1> Prioridades <h1/>
                <h4> Escolha na escala de 1 (Não me importo) a 5 (Prioridade máxima)</h4>

                <h3>Espaço interno</h3>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary active">
                    <input type="radio" name="espaco_interno" id="option1" value="1"> 1
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="espaco_interno" id="option2" value="2"> 2
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="espaco_interno" id="option3" value="3" checked> 3
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="espaco_interno" id="option4" value="4"> 4
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="espaco_interno" id="option5" value="5"> 5
                  </label>
                </div><br>
                <select name="consumo" class="btn">
                    <option value="1" selected>Consumo</option>
                    <option value="2">1</option>
                    <option value="3">2</option>
                    <option value="4">3</option>
                    <option value="5">4</option>
                    <option value="6">5</option>
                </select>
                <select name="desempenho" class="btn">
                    <option value="1" selected>Desempenho</option>
                    <option value="2">1</option>
                    <option value="3">2</option>
                    <option value="4">3</option>
                    <option value="5">4</option>
                    <option value="6">5</option>
                </select>
                <select name="conforto" class="btn">
                    <option value="1" selected>Conforto</option>
                    <option value="2">1</option>
                    <option value="3">2</option>
                    <option value="4">3</option>
                    <option value="5">4</option>
                    <option value="6">5</option>
                </select>

                <select name="seguranca" class="btn">
                    <option value="1" selected> Segurança</option>
                    <option value="2">1</option>
                    <option value="3">2</option>
                    <option value="4">3</option>
                    <option value="5">4</option>
                    <option value="6">5</option>
                </select>

                <select name="custo_beneficio" class="btn">
                    <option value="1" selected>Custo X benefício</option>
                    <option value="2">1</option>
                    <option value="3">2</option>
                    <option value="4">3</option>
                    <option value="5">4</option>
                    <option value="6">5</option>
                </select>
                <select name="desvalorizacao" class="btn">
                    <option value="1" selected>Baixa desvalorização</option>
                    <option value="2">1</option>
                    <option value="3">2</option>
                    <option value="4">3</option>
                    <option value="5">4</option>
                    <option value="6">5</option>
                </select>
            </div>
            <div class="container jumbotron text-center">    
                <input type="submit" class="btn btn-primary btn-lg" value="Pronto!">
            </form>            
        </div>
<footer>

<table width=1254 align=center>

<tr>
<td bgcolor="#f0f0f5" colspan="80" height="25" width=100%>
<font style="font-size: 13px; font-family: arial">
&nbsp;&nbsp;
<a href="/" title="Página principal do EasyChoice"><font color="black">Página Principal</a>
&nbsp;|&nbsp;
<a href="/sobre" title="Como funciona o nosso algorítmo" rel="nofollow"><font color="black">Sobre o site</a>
&nbsp;|&nbsp;
<a href="/" title="Política de Privacidade" rel="nofollow"><font color="black">Privacidade</a>
&nbsp;|&nbsp;
<a href="/" title="Termos de uso" rel="nofollow"><font color="black">Termos de uso</a>
&nbsp;|&nbsp;
<a href="/comunicar" title="Entre em contato com o time EasyChoice" rel="nofollow"><font color="black">Fale Conosco</a>
&nbsp;|&nbsp;
<a href="/comunicar" title="Avise-nos sobre problemas com o site EasyChoice" rel="nofollow"><font color="black">Comunicar erro</a>
</td>
</tr>

</table>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>