<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
 
<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
 
<!-- Set the page to the width of the device and set the zoon level -->
<title>EasyChoice</title>
<link rel="icon" href="/static/image/aeae.png">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

<title>Sticky Footer Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
<link href="/static/css/sticky-footer-navbar.css" rel="stylesheet">

<style>
.jumbotron{
    background-color:#f0f0f5;
    color:#000;
}
/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 70%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #0073e6;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
</style>
</head>

<body>

<header>

<div class="container">
<div class="page-header">

<p>
<h1>
<a href="/">
<img src="/static/image/EasyChoiceLogo.png" 
 style="width:30%" alt="Responsive Image">
 </a><div class="text-right"> CELULARES </div></h1>
</p>
</div>
</div>

</header>
        <div class="container jumbotron text-center">
            <h1>Ache seu celular</h1>
        </div>
        <div class="container jumbotron text-center">
            <form action="/celulares/ache_seu_celular" method="POST">

                <h1> Filtros <h1/>
                
                <h3> Preço entre: <h3/>
                
                R$
                <input type="text" label="asas" class="btn" name="precomin" value="0" placeholder="Preço máximo">,00
                e   R$
                <input type="text" label="asas" class="btn" name="precomax" value="10000" placeholder="Preço máximo">,00
            </div>  

                
            <div class="container jumbotron text-center">
                <h1> Prioridades <h1/>
                <h4>Não me importo <img src="https://image.flaticon.com/icons/svg/50/50849.svg" 
 style="width:5%" > Prioridade máxima</h4>

                <p>
                
                <div class="slidecontainer">
                  <h3>Acabamento</h3> <input type="range" min="1" max="100" value="10" class="slider text-center" id="2" name="acabamento">
                </div>
                <hr>
                <div class="slidecontainer">
                  <h3>Duração da bateria</h3> <input type="range" min="1" max="100" value="10" class="slider text-center" id="3" name="duracao_bateria">
                </div>
                <hr>
                <div class="slidecontainer">
                  <h3>Tempo de carregamento</h3> <input type="range" min="1" max="100" value="10" class="slider text-center" id="3" name="t_carregamento">
                </div>
                <hr>
                <div class="slidecontainer">
                  <h3>Desempenho</h3> <input type="range" min="1" max="100" value="10" class="slider text-center" id="3" name="desempenho">
                </div>
                <hr>
                <div class="slidecontainer">
                  <h3>Câmera frontal</h3> <input type="range" min="1" max="100" value="10" class="slider text-center" id="3" name="camera_front">
                </div>
                <hr>
                <div class="slidecontainer">
                  <h3>Câmera traseira</h3> <input type="range" min="1" max="100" value="10" class="slider text-center" id="3" name="camera_tras">
                </div>
                <hr>
                <div class="slidecontainer">
                  <h3>Custo X benefício</h3> <input type="range" min="1" max="100" value="10" class="slider text-center" id="3" name="custo_beneficio">
                </div>

                </p>
            </div>
            <div class="container jumbotron text-center">    
                <input type="submit" class="btn btn-primary btn-lg" value="Pronto!">
            </form>            
        </div>
<footer>

<table width=1254 align=center>

<tr>
<td bgcolor="#f0f0f5" colspan="80" height="25" width=100%>
<font style="font-size: 13px; font-family: arial">
&nbsp;&nbsp;
<a href="/" title="Página principal do EasyChoice"><font color="black">Página Principal</a>
&nbsp;|&nbsp;
<a href="/sobre" title="Como funciona o nosso algorítmo" rel="nofollow"><font color="black">Sobre o site</a>
&nbsp;|&nbsp;
<a href="/termos" title="Política de Privacidade" rel="nofollow"><font color="black">Privacidade</a>
&nbsp;|&nbsp;
<a href="/termos" title="Termos de uso" rel="nofollow"><font color="black">Termos de uso</a>
&nbsp;|&nbsp;
<a href="/comunicar" title="Entre em contato com o time EasyChoice" rel="nofollow"><font color="black">Fale Conosco</a>
&nbsp;|&nbsp;
<a href="/comunicar" title="Avise-nos sobre problemas com o site EasyChoice" rel="nofollow"><font color="black">Comunicar erro</a>
</td>
</tr>

</table>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>