<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=0.6">
        <link rel="stylesheet" href="/static/bootstrap-reboot.min.css" type="text/css">
        <link rel="stylesheet" href="/static/tarefas.css" type="text/css">
        <title>Página Principal - Seu Próximo Carro</title>
    </head>
    <body>
        <div>
            <h1>Seu Próximo Carro</h1>

            <h2>Ache seu carro</h2>
            <form action="/" method="POST">
                <h1> Filtros <h1/>
                # Preco
                <h3> Preço: <h3/>
                <input type="text" name="precomin" placeholder="Preço mínimo">
                <input type="text" name="precomax" placeholder="Preço máximo">
                <p class="mensagem-erro">{{ mensagem_erro }}</p>
                # Categoria
                <h3> Categoria: <h3/>
                <select name="categoria">
                    <option value="0" selected>Tanto faz</option>
                    <option value="suv">SUV</option>
                    <option value="hatchback">Hatchback</option>
                    <option value="perua">Perua</option>
                    <option value="picape">Picape</option>
                    <option value="cupe">Cupê</option>
                    <option value="conversivel">Conversível</option>
                    <option value="sedan">Sedan</option>
                    <option value="minivan">Minivan</option>
                </select>
                <h1> Prioridades <h1/>
                <h3> Espaço interno: <h3/>
                <select name="espaco_interno">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h3> Consumo: <h3/>
                <select name="consumo">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h3> Desempenho: <h3/>
                <select name="desempenho">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h3> Conforto: <h3/>
                <select name="conforto">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h3> Segurança: <h3/>
                <select name="seguranca">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h3> Custo X benefício: <h3/>
                <select name="custo_beneficio">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h3> Desvalorização: <h3/>
                <select name="desvalorizacao">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <input type="submit" value="Pronto!">
            </form>
            
            <h2>Carros</h2>
            <ul>
            {% for marca in carros %}
                {% for modelo in carros[marca] %}
                    {% for versao in carros[marca][modelo] %}
                    <li>
                        <h3>{{ marca }}{{modelo }}{{versao }}</h3>
                    </li>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
    </body>
</html>