<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=0.6">
        <link rel="stylesheet" href="/css/bootstrap-reboot.min.css" type="text/css">
        <link rel="stylesheet" href="/css/tarefas.css" type="text/css">
        <title>Dpc - Seu Próximo Carro</title>
    </head>
    <body>
        <div>
            <r>
                <h2 class="mensagem-erro">{{mensagem_erro}}</h2>
                <h2 class="mensagem-erro">{{resul}}</h2>
            </r>
        </div>
    </body>
</html>
                