<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
 
<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
 
<!-- Set the page to the width of the device and set the zoon level -->
<meta name="viewport" content="width = device-width, initial-scale = 1">
<title>EasyChoice</title>
<link rel="icon" href="https://thumbs.dreamstime.com/b/%C3%ADcone-azul-da-cara-do-smiley-com-ponto-de-interroga%C3%A7%C3%A3o-85804001.jpg">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 
<style>
.jumbotron{
    background-color:#f0f0f5;
    color:#000;
}
/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
</style>

<script type="text/javascript">

function populate(s1,s2){
    var s1 = document.getElementById(s1);
    var s2 = document.getElementById(s2);
    s2.innerHTML = "";
    for(var e in {{carros}}){
        if(s1.value == e){
            var optionArray = []
            for(var i in {{carros[e]}}){
                optionArray.append(i)
            }
        } 
    } 
    for(var option in optionArray){
        var newOption = document.createElement("option");
        newOption.value = option;
        newOption.innerHTML = option;
        s2.options.add(newOption);
    }
    
}

</script>

</head>

<body>

<header>

<div class="container">
<div class="page-header">

<p>
<h1>
<a href="/">
<img src="/static/image/EasyChoiceLogo.png" 
 style="width:30%" alt="Responsive Image">
 </a><div class="text-right"> VEÍCULOS </div></h1>
</p>
</div>
</div>
<script>

</script>


</header>

<main>
    <div class="container jumbotron text-center">
        <form action="/carros/nova_opiniao" method="POST">
                <h1>Qual é o seu carro?</h1>  
                Marca:
                <select name="marca" id="marca" class="btn" onchange="populate(this.id,'modelo')">
                    <option value="0">Fabricante</option>
                    {% for mar in carros %}
                       <option value="{{mar}}">{{mar}}</option>
                    {%endfor%}
                </select>

                Modelo:
                <select name="modelo" id="modelo" class="btn"></select> 
                Versão:
                <select name="versao" id="versao" class="btn"></select>
                <h1> </h1>
                <h4> <font color="red"><p class="mensagem-erro">{{ mensagem_erro }}</p></font> </h4>
            <input type="submit" class="btn btn-primary" value="Pronto &#10003;">
            </form>
            
            <div>
                <nav class="nav nav-masthead justify-content-center">
                <h1> </h1>
                    <a class="nav-link" href="/carros/add_carro">Seu carro não está na lista? Clique aqui</a>
                </nav>          
        
            </div>

    </div>
</main>

<footer>

<table width=1254 align=center>

<tr>
<td bgcolor="#f0f0f5" colspan="80" height="25" width=100%>
<font style="font-size: 13px; font-family: arial">
&nbsp;&nbsp;
<a href="/" title="Página principal do EasyChoice"><font color="black">Página Principal</a>
&nbsp;|&nbsp;
<a href="/sobre" title="Como funciona o nosso algorítmo" rel="nofollow"><font color="black">Sobre o site</a>
&nbsp;|&nbsp;
<a href="/" title="Política de Privacidade" rel="nofollow"><font color="black">Privacidade</a>
&nbsp;|&nbsp;
<a href="/" title="Termos de uso" rel="nofollow"><font color="black">Termos de uso</a>
&nbsp;|&nbsp;
<a href="/comunicar" title="Entre em contato com o time EasyChoice" rel="nofollow"><font color="black">Fale Conosco</a>
&nbsp;|&nbsp;
<a href="/comunicar" title="Avise-nos sobre problemas com o site EasyChoice" rel="nofollow"><font color="black">Comunicar erro</a>
</td>
</tr>

</table>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>

$("#first-choice").change(function() {

	var $dropdown = $(this);

	$.getJSON("jsondata/data.json", function(data) {
	
		var key = $dropdown.val();
		var vals = [];
							
		switch(key) {
			case 'beverages':
				vals = data.beverages.split(",");
				break;
			case 'snacks':
				vals = data.snacks.split(",");
				break;
			case 'base':
				vals = ['Please choose from above'];
		}
		
		var $secondChoice = $("#second-choice");
		$secondChoice.empty();
		$.each(vals, function(index, value) {
			$secondChoice.append("<option>" + value + "</option>");
		});

	});
});

</script>
</body>

</html>