<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=0.6">
        <link rel="stylesheet" href="/static/css/bootstrap-reboot.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/tarefas.css" type="text/css">
        <title>Página Principal - Seu Próximo Carro</title>
    </head>
    <body>
        <div>
            <h1>Opine sobre seu carro</h1>

            <h2>Qual é o seu carro?</h2>
            
            
            
            <form action="/" method="POST">
                Marca:
                <select name="marca" placeholder="marca">
                    {% for mar in carros %}
                       <option value="{{mar}}">{{mar}}</option>
                    {%endfor%}
                </select>
                Modelo:
                <select name="modelo" placeholder="modelo">
                    {% for mar in carros %}
                        {% for mod in carros[mar] %}
                            <option value="{{mod}}">{{mod}}</option>
                        {%endfor%}
                    {%endfor%}
                </select>
                Versão:
                <select name="versao" placeholder="versao">
                    {% for mar in carros %}
                        {% for mod in carros[mar] %}
                            {% for ver in carros[mar][mod] %}
                                <option value="{{ver}}">{{ver}}</option>
                            {%endfor%}    
                        {%endfor%}
                    {%endfor%}                
                </select>
                
                <h3> Espaço interno: <h3/>
                <select name="espaco_interno">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h3> Consumo: <h3/>
                <select name="consumo">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h3> Desempenho: <h3/>
                <select name="desempenho">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h3> Conforto: <h3/>
                <select name="conforto">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h3> Segurança: <h3/>
                <select name="seguranca">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h3> Custo X benefício: <h3/>
                <select name="custo_beneficio">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h3> Desvalorização: <h3/>
                <select name="desvalorizacao">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <textarea name="comentario" placeholder="Comente sobre sua experiência com o carro passando pelos pontos negativos e positivos."></textarea>
                <input type="submit" value="&#10003;"></form>
    
            </form>
                
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/add_carro">Seu carro não está na lista? Clique aqui</a>
            </nav>          
            
        </div>
    </body>
</html>