
</html>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
 
<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
 
<!-- Set the page to the width of the device and set the zoon level -->
<meta name="viewport" content="width = device-width, initial-scale = 1">
<title>EasyChoice</title>
<link rel="icon" href="https://mail.google.com/mail/u/0/?ui=2&ik=0f2bf118e5&view=att&th=163840f0fecf24bf&attid=0.1&disp=safe&realattid=f_jhgm2xj90&zw">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 
<style>
.jumbotron{
    background-color:#000;
    color:#1ad1ff;
}
/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
</style>

</head>

    <body>
        <div>
            <h1>Opine sobre seu carro</h1>

            <h2>Qual é o seu carro?</h2>
            
            
            
            <form action="/carros/nova_opiniao" method="POST">
                Marca:
                <select name="marca" placeholder="marca">
                    {% for mar in carros %}
                       <option value="{{mar}}">{{mar}}</option>
                    {%endfor%}
                </select>
                <input type="submit" value="&#10003;"></form>
            </form>
            <form action="/carros/nova_opiniao" method="POST">
                Modelo:
                <select name="modelo" placeholder="modelo">
                    {% for mar in carros %}
                        {% for mod in carros[mar] %}
                            <option value="{{mod}}">{{mod}}</option>
                        {%endfor%}
                    {%endfor%}
                </select>
                Versão:
                <select name="versao" placeholder="versao">
                    {% for mar in carros %}
                        {% for mod in carros[mar] %}
                            {% for ver in carros[mar][mod] %}
                                <option value="{{ver}}">{{ver}}</option>
                            {%endfor%}    
                        {%endfor%}
                    {%endfor%}                
                </select>
            
                <h3> Espaço interno: <h3/>
                <select name="espaco_interno">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h3> Consumo: <h3/>
                <select name="consumo">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h3> Desempenho: <h3/>
                <select name="desempenho">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h3> Conforto: <h3/>
                <select name="conforto">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h3> Segurança: <h3/>
                <select name="seguranca">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h3> Custo X benefício: <h3/>
                <select name="custo_beneficio">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h3> Desvalorização: <h3/>
                <select name="desvalorizacao">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <textarea name="comentario" placeholder="Comente sobre sua experiência com o carro passando pelos pontos negativos e positivos."></textarea>
                <input type="hidden" name="asd" value="True">
                <input type="submit" value="&#10003;"></form>
    
            </form>
        </div>
        <div>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/carros/add_carro">Seu carro não está na lista? Clique aqui</a>
            </nav>          
            
        </div>
<table width=1254 align=center>

<tr>
<td bgcolor="#1ad1ff" colspan="80" height="25" width=100%>
<font style="font-size: 13px; font-family: arial">
&nbsp;&nbsp;
<a href="/" title="Página principal do EasyChoice"><font color="black">Página Principal</a>
&nbsp;|&nbsp;
<a href="/sobre" title="Como funciona o nosso algorítmo" rel="nofollow"><font color="black">Sobre o site</a>
&nbsp;|&nbsp;
<a href="/" title="Política de Privacidade" rel="nofollow"><font color="black">Privacidade</a>
&nbsp;|&nbsp;
<a href="/" title="Termos de uso" rel="nofollow"><font color="black">Termos de uso</a>
&nbsp;|&nbsp;
<a href="/fale_conosco" title="Entre em contato com o time EasyChoice" rel="nofollow"><font color="black">Fale Conosco</a>
&nbsp;|&nbsp;
<a href="/fale_conosco" title="Avise-nos sobre problemas com o site EasyChoice" rel="nofollow"><font color="black">Comunicar erro</a>
</td>
</tr>

</table>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>