<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=0.6">
        <link rel="stylesheet" href="/static/css/bootstrap-reboot.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/tarefas.css" type="text/css">
        <title>Página Principal - Seu Próximo Carro</title>
    </head>
    <body>
        <div>
            <h1>Adicione o seu carro</h1>

         
            
            
            
            <form action="/" method="POST">
                Marca:
                <input type="text" name="marca" placeholder="Digite a marca:">
                       
                Modelo:
               <input type="text" name="modelo" placeholder="Digite o modelo:?">
                
                Versão:
               <input type="text" name="marca" placeholder="Digite a versâo:">
                
                <h3> Espaço interno: <h3/>
                <select name="espaco_interno">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h3> Consumo: <h3/>
                <select name="consumo">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h3> Desempenho: <h3/>
                <select name="desempenho">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h3> Conforto: <h3/>
                <select name="conforto">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h3> Segurança: <h3/>
                <select name="seguranca">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h3> Custo X benefício: <h3/>
                <select name="custo_beneficio">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h3> Desvalorização: <h3/>
                <select name="desvalorizacao">
                    <option value="0" selected>Tanto faz</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <textarea name="comentario" placeholder="Comente sobre sua experiência com o carro passando pelos pontos negativos e positivos."></textarea>
                <input type="submit" value="&#10003;"></form>
    
            </form>
                
                   
            
        </div>
    </body>
</html>