
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
 
<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
 
<!-- Set the page to the width of the device and set the zoon level -->
<title>EasyChoice</title>
<link rel="icon" href="/static/image/aeae.png">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

<title>Sticky Footer Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
<link href="/static/css/sticky-footer-navbar.css" rel="stylesheet">

<style>
.jumbotron{
    background-color:#f0f0f5;
    color:#000;
}
/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

</style>
</head>

<body>
<header>

<div class="container">
<div class="page-header">

<p>
<h1>
<a href="/">
<img src="/static/image/EasyChoiceLogo.png" 
 style="width:30%" alt="Responsive Image">
  </a><div class="text-right"> VEÍCULOS </div></h1>
</a></h1>


</p>
</div>
</div>

</header>
<main>
    <div class="container jumbotron text-center">
        <div>
          <p>
            <h1>Adicione o seu carro</h1>
          </p>
          <p>
            <form action="/carros/add_carro" method="POST">
                <h3> Qual é o seu carro? <h3/>
                
                <input type="text" class="btn" name="marca" placeholder="Marca">
                
                <input type="text" class="btn" name="modelo" placeholder="Modelo">

                <input type="text" class="btn" name="versao" placeholder="Versão"><hr>
                            <h3> Preço </h3>
                R$  <input type="text" class="btn" name="preco" placeholder="Quanto você pagou nele">,00<hr>
                <h3> Categoria <h3/>
                
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-primary">
                    <input type="radio" name="categoria" value="suv">SUV
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="categoria" value="hatchback">Hatchback
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="categoria" value="perua">Perua
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="categoria" value="picape">Picape
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="categoria" value="cupe">Cupê
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="categoria" value="conversivel">Conversível
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="categoria" value="sedan">Sedan
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="categoria" value="minivan">Minivan
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="categoria" value="esportivo">Esportivo
                  </label>

                </div><hr>
          </p>
          <p>      
                <h2> O que você acha do seu carro? <h2/>
                
                <h4> Avalie seu carro em uma escala de 1 (Péssimo) a 5 (Irado brother!) </h4>

                <hr>
                <h3> Espaço Interno </h3>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="espaco_interno" value="1" >1
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="espaco_interno" value="2">2
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="espaco_interno" value="3">3
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="espaco_interno" value="4">4
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="espaco_interno" value="5">5
                  </label>

                </div><hr>
                <h3> Consumo </h3>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="consumo" value="1" >1
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="consumo" value="2">2
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="consumo" value="3">3
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="consumo" value="4">4
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="consumo" value="5">5
                  </label>
                </div><hr>
                
                <h3> Desempenho </h3>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="desempenho" value="1" >1
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="desempenho" value="2">2
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="desempenho" value="3">3
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="desempenho" value="4">4
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="desempenho" value="5">5
                  </label>
                </div><hr>
                <h3> Conforto </h3>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="conforto" value="1" >1
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="conforto" value="2">2
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="conforto" value="3">3
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="conforto" value="4">4
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="conforto" value="5">5
                  </label>
                </div><hr>
                <h3> Segurança </h3>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="seguranca" value="1" >1
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="seguranca" value="2">2
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="seguranca" value="3">3
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="seguranca" value="4">4
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="seguranca" value="5">5
                  </label>
                </div><hr>

                <h3> Custo X Benefício </h3>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="custo_beneficio" value="1" >1
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="custo_beneficio" value="2">2
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="custo_beneficio" value="3">3
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="custo_beneficio" value="4">4
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="custo_beneficio" value="5">5
                  </label>
                </div><hr>
                <h3> Desvalorização </h3>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="desvalorizacao" value="1" >1
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="desvalorizacao" value="2">2
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="desvalorizacao" value="3">3
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="desvalorizacao" value="4">4
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="desvalorizacao" value="5">5
                  </label>
                </div><hr>       
                <h3> Manutenção </h3>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="manutencao" value="1" >1
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="manutencao" value="2">2
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="manutencao" value="3">3
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="manutencao" value="4">4
                  </label>
                  <label class="btn btn-lg btn-primary">
                    <input type="radio" name="manutencao" value="5">5
                  </label>
                </div><hr> 
                <h3> Comentário </h3>
                <div class="form-group shadow-textarea">                           
                <textarea name="comentario" rows="5" class="form-control z-depth-1 text-center" placeholder="Comente sobre seu carro"></textarea><hr>
                </div>
                <h4> <font color="red"> Preencha todos os campos</font> </h4>
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Pronto &#10003;">
              </p>      
            </form>
        </div>
    </div>
</main>





<footer>

<table width=1254 align=center>

<tr>
<td bgcolor="#f0f0f5" colspan="80" height="25" width=100%>
<font style="font-size: 13px; font-family: arial">
&nbsp;&nbsp;
<a href="/" title="Página principal do EasyChoice"><font color="black">Página Principal</a>
&nbsp;|&nbsp;
<a href="/sobre" title="Como funciona o nosso algorítmo" rel="nofollow"><font color="black">Sobre o site</a>
&nbsp;|&nbsp;
<a href="/termos" title="Política de Privacidade" rel="nofollow"><font color="black">Privacidade</a>
&nbsp;|&nbsp;
<a href="/termos" title="Termos de uso" rel="nofollow"><font color="black">Termos de uso</a>
&nbsp;|&nbsp;
<a href="/comunicar" title="Entre em contato com o time EasyChoice" rel="nofollow"><font color="black">Fale Conosco</a>
&nbsp;|&nbsp;
<a href="/comunicar" title="Avise-nos sobre problemas com o site EasyChoice" rel="nofollow"><font color="black">Comunicar erro</a>
</td>
</tr>

</table>
</footer>

    <!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>