<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
 
<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
 
<!-- Set the page to the width of the device and set the zoon level -->
<title>EasyChoice</title>
<link rel="icon" href="https://thumbs.dreamstime.com/b/%C3%ADcone-azul-da-cara-do-smiley-com-ponto-de-interroga%C3%A7%C3%A3o-85804001.jpg">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

<title>Sticky Footer Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
<link href="/static/css/sticky-footer-navbar.css" rel="stylesheet">

<style>
.jumbotron{
    background-color:#f0f0f5;
    color:#000;
}
/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
</style>
</head>

<body>
<header>

<div class="container">
<div class="page-header">

<p>
<h1>
<a href="/">
<img src="https://mail.google.com/mail/u/0/?ui=2&ik=0f2bf118e5&view=att&th=16383eca4f488b82&attid=0.1&disp=safe&realattid=f_jhgkqk0f1&zw" 
 style="width:30%" alt="Responsive Image">
</a></h1>

</p>
</div>
</div>

</header>
<main>
<div class="container jumbotron text-center">
    <p><h2> O QUE VOCÊ ESTÁ BUSCANDO? </h2></p>    
<p>
  <a href="/carros"><img src="https://png.icons8.com/android/1600/traffic-jam.png" style="width:24%" alt="Responsive Image"></a>
</p>
</div>
</main>





<footer>

<table width=1254 align=center>

<tr>
<td bgcolor="#f0f0f5" colspan="80" height="25" width=100%>
<font style="font-size: 13px; font-family: arial">
&nbsp;&nbsp;
<a href="/" title="Página principal do EasyChoice"><font color="black">Página Principal</a>
&nbsp;|&nbsp;
<a href="/sobre" title="Como funciona o nosso algorítmo" rel="nofollow"><font color="black">Sobre o site</a>
&nbsp;|&nbsp;
<a href="/" title="Política de Privacidade" rel="nofollow"><font color="black">Privacidade</a>
&nbsp;|&nbsp;
<a href="/" title="Termos de uso" rel="nofollow"><font color="black">Termos de uso</a>
&nbsp;|&nbsp;
<a href="/comunicar" title="Entre em contato com o time EasyChoice" rel="nofollow"><font color="black">Fale Conosco</a>
&nbsp;|&nbsp;
<a href="/comunicar" title="Avise-nos sobre problemas com o site EasyChoice" rel="nofollow"><font color="black">Comunicar erro</a>
</td>
</tr>

</table>
</footer>

    <!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>